[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiofile = "*"
beautifulsoup4 = "*"
lxml = "*"

[dev-packages]

[requires]
python_version = "3"

[packages.aiohttp]
extras = [ "speedups",]
version = "*"
